.button {
  font-family: @karla;
  font-size: @text-sm;
  text-transform: uppercase;
  width: 240px;
  height: 50px;
  border-radius: 80px;
  line-height: 35px;
  text-align: center;
  &.button-light {
    background-color: transparent;
    a {
      color: @white;
      text-decoration: none;
    }
    text-decoration: none;
    border: 2px solid @white;
    transition: all @animation-timing;
    &:hover {
      a {
        color: @black;
        
      }
      background-color: @white;
    }
  }
  &.button-dark {
    background-color: transparent;
    a {
      color: @black;
    }
    text-decoration: none;
    border: 2px solid @black;
    transition: all @animation-timing;
    &:hover {
      a {
        color: @white;
      }
      background-color: @black;
    }
  }
}