.button {
  text-transform: uppercase;
  text-align: center;
  font-weight: $bold-weight;
  font-size: 18px;
  font-family: $paragraph-family;
  padding: 15px 40px;
  
  &.button-light {
    border: 2px solid $black;
    color: $black;
    background-color: $white;
    &:hover {
      transition: all 0.4s;
      background-color: $black;
      color: $white;
    }
  }

  &.button-dark {
    border: 2px solid $white;
    color: $white;
    background-color: transparent;
    &:hover {
      transition: all 0.4s;
      background-color: $white;
      color: $black;
    }
  }
}