.button {
  text-transform: uppercase;
  text-align: center;
  font-weight: $bold-weight;
  font-size: 20px;
  &.button-light {
    color: $black;
    background-color: $white;
    border-radius: 30%;
    padding: 10px 70px;
  }

  &.button-dark {

  }
}