.paragraph { 
  font-size: $paragraph-size;
  font-weight: $normal-weight;
  font-family: $paragraph-family;
  color: $gray;
}


.header {
  font-size: $header-size;
  font-weight: $bold-weight;
  font-family: $header-family;
  color: $dark-gray;
}
