.section {
  background-color: @white;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 10%;
  width: 100%;
}

.section__text {
  font-size: @paragraph-size;
  font-weight: @normal-weight;
  font-family: @paragraph-family;
  color: @dark-gray;
}

.section__header {
  font-size: @header-size;
  font-weight: @bold-weight;
  font-family: @header-family;
  color: @dark-gray;
}