// Font Families
$paragraph-family: 'Karla', serif;
$header-family: 'Lato', sans-serif;
$title-family: 'Open Sans', sans-serif;
$navbar-family: 'Montserrat', sans-serif;

// Font Weights
$bold-weight: 600;
$normal-weight: 400;
$light-weight: 300;

// Font Sizes
$paragraph-size: 18px; 
$header-size: 24px;
$title-size: 45px;
$navbar-size: 16px;

// Colors 
$pitch-black: #000;
$black: #222;
$dark-gray: #3d3d3d;
$gray: #848484;
$light-gray: #bbbbbb;
$white: #fcfdff;
